header,
main {
    width: 82.5rem;
    margin-left: auto;
    margin-right: auto;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-meri {
    font-family: 'Merriweather', serif;
}



.banner {
    background-image: url('../resources/Banner\ Image.png');
    background-color: rgba(0, 0, 0, 0.709);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 37.5rem;
    font-family: 'Merriweather', serif;
    border-radius: 1rem;
}

.banner>h3 {
    color: white;
    padding-top: 11.06rem;
    padding-bottom: 0;
    text-align: center;
    /* font-family: Merriweather; */
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 400;

}

.banner>p {
    color: white;
    /* padding: 14.56rem 21.5rem 11.06rem 21.5rem ; */
    padding-bottom: 11.06rem;
    padding-left: 21.5rem;
    padding-right: 21.5rem;
    text-align: center;
    /* text-align: justify; */
    /* font-family: Merriweather; */
    font-size: 4.5rem;
    /* font-style: normal; */
    font-weight: 900;
    line-height: 5.9375rem;
    /* border-radius: 5rem; */
}



.offer65 {
    text-align: center;
}

.offer65>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    margin-bottom: 3rem;
}

.l1 {
    color: #F00;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.l2 {
    margin-top: 1rem;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
}



.welcome {
    margin-top: 7rem;
    background-image: url(../resources/Vectorrr.png);
    /* width: 82.5rem;
    height: 37.5rem; */
    /* background-color: rgba(0, 0, 0, 0.20); */
    /* background-blend-mode: darken; */
    background-repeat: no-repeat;
    width: 82.5rem;
    height: 37.5rem;
    padding-left: 7.88rem;
    padding-top: 7.88rem;
}

.welcome>h2 {
    margin: 0;
    padding: 0;
    width: 40.125rem;
    color: #FFF;
    font-family: Merriweather;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem;
    letter-spacing: 0.44rem;
}

.welcome>p {
    width: 43.5625rem;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.welcome>a {
    display: block;
    margin-top: 3rem;
    margin-left: 2rem;
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}



.vanue {
    background-color: rgba(255, 0, 0, 0.10);
    width: 82.5rem;
    height: 30.125rem;
    border-radius: 2rem;
    text-align: center;
    padding-top: 5rem;
}

.vanue>p {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1rem;
}

.vanue>p>span {
    color: #F00;
}

.vanue>button {
    background-color: red;
    padding: 1rem 2rem;
    border-radius: 1rem;

}

.vanue>button>a {
    color: white;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}



.comingOffer {
    margin-top: 5rem;
}

.comingOffer>main>div {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;

}

.comingOffer>main>div.left>h3 {
    color: red;
    color: #F00;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.comingOffer>main>div.left>h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.comingOffer>main>div.left>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

div.middle {}

div.right>p {
    color: red;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
}

div.right>p>span {
    display: block;
    margin-top: 2rem;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
}



.holidayCell{
    text-align: center;
}
.holidayCell>div>h3{
font-family: Inter;
font-size: 1.5rem;
font-weight: 500;
}
.holidayCell>div>h3>p{
    display: block;
    color: red;
font-family: Merriweather;
font-size: 4.5rem;
font-weight: 900;
margin: 0;
}
.holidayCell>div>h3>p>span{
    color: black;
}
.holidayCell>div>p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
line-height: 2rem;
width: 66.75rem;
margin-left: auto;
margin-right: auto;
}
.poster>div{
    /* border: 2rem solid red; */
    background-image: url(/resources/Rectangle\ 1.png);
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    height: 27.0625rem;
    background-repeat: no-repeat;
    background-position-x: 100%;
}
.poster>div>img{
    margin-top: 4.5rem;
    margin-left: 35%;
}
.poster>div2{
    box-sizing: border-box;
    display: block;
    background-image: url(/resources/Rectangle\ 2.png);
    height: 14.3125rem;
    
}